<h1>Listings 🥔</h1>
<% @listings.each do |listing| %>
  <div class="listing">
    <p>Name: <%= listing.name %></p>
    <p>Price: <%= number_to_currency(listing.price / 100.0) %></p>
    <%= link_to "Show", listing_path(listing) %>
    <hr>
  </div>
<% end %>